@charset "UTF-8";
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Regular.ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Semibold.ttf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Bold.ttf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Extrabld.ttf");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Light.ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "AA Haymaker";
  src: url("../fonts/AA Haymaker.ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Basic";
  src: url("../fonts/FunCityLevel2Basic.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Basic";
  src: url("../fonts/FunCityLevel1Basic.otf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Dots";
  src: url("../fonts/FunCityLevel1Dots.otf");
  font-weight: 400;
  font-style: normal; }

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; }

body {
  margin: 0;
  font-family: "ProximaNova", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  color: #707070;
  background-color: #ffffff; }

html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

*.none {
  display: none; }

.page-header {
  position: relative;
  width: 284px;
  margin: 0 auto; }

.page-header__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px; }
  .page-header__inner--button {
    padding-top: 27px;
    flex-wrap: wrap;
    justify-content: center; }

.page-header__main-nav {
  position: relative;
  display: none;
  width: 100%;
  min-height: 500px; }
  .page-header__main-nav--open {
    display: block; }

.page-header__social {
  width: 106px;
  margin: 0 auto;
  margin-top: 45px; }

.page-header__close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 15px;
  height: 15px;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  background-image: url("../img/icon--close.svg");
  border: none; }

.page-header__logo {
  display: none; }
  .page-header__logo--mobile {
    display: block;
    width: 109px;
    height: 79px;
    margin-top: 55px; }

.page-header__toggle {
  width: 25px;
  height: 25px;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  background-image: url("../img/icon--menu.svg");
  border: none; }
  .page-header__toggle--no-js {
    display: none; }
  .page-header__toggle--hidden {
    background-image: none; }
  .page-header__toggle:hover {
    outline: 1px solid #4b4b4b; }

.page-header__title {
  margin: 0;
  margin-top: 19px;
  font-family: "AA Haymaker", "Arial", sans-serif;
  color: #000000;
  font-size: 33px;
  line-height: 44px;
  text-transform: uppercase;
  text-align: center; }

.page-header__slogan {
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-top: 17px;
  font-family: "Basic", "Arial", sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px; }

.page-header__link {
  width: 186px;
  height: 39px;
  margin-bottom: 12px; }

@media (min-width: 768px) {
  .page-header {
    width: 607px; }
  .page-header__inner {
    padding-top: 26px;
    padding-bottom: 173px;
    padding-left: 0;
    padding-right: 0; }
    .page-header__inner--button {
      justify-content: space-between;
      width: 462px;
      padding-top: 116px;
      padding-bottom: 50px; }
  .page-header__main-nav {
    margin-top: 4px;
    margin-bottom: 25px;
    display: block;
    width: 29px;
    min-height: 30px; }
    .page-header__main-nav .main-nav {
      display: none; }
    .page-header__main-nav .page-header__close {
      display: none; }
    .page-header__main-nav--open {
      width: 100%;
      min-height: 200px; }
      .page-header__main-nav--open .main-nav {
        margin-bottom: 25px;
        display: block; }
      .page-header__main-nav--open .page-header__close {
        display: block;
        width: 20px;
        height: 20px; }
  .page-header__social {
    margin-top: 0;
    width: 117px; }
  .page-header__favorites {
    position: absolute;
    top: 32px;
    left: 127px; }
    .page-header__favorites--menu {
      position: static; }
  .page-header__logo {
    margin-top: 0;
    width: 153px;
    height: 113px; }
  .page-header__toggle {
    margin-top: 9px;
    width: 28px; }
  .page-header__title {
    font-size: 49px;
    line-height: 54px;
    letter-spacing: 3.43px; }
  .page-header__slogan {
    width: 400px;
    margin-top: 59px;
    font-size: 16px;
    letter-spacing: normal; }
  .page-header__link {
    width: 206px;
    height: 50px; } }

@media (min-width: 1280px) {
  .page-header {
    width: 1100px; }
  .page-header__inner {
    padding-bottom: 145px; }
    .page-header__inner--button {
      width: 359px;
      padding-top: 56px;
      padding-bottom: 13px; }
  .page-header__main-nav {
    display: flex;
    justify-content: space-between;
    width: 1059px; }
    .page-header__main-nav .main-nav {
      display: flex; }
  .page-header__logo {
    margin-top: 9px;
    margin-right: 15px;
    width: 111px;
    height: 79px; }
    .page-header__logo--desktop {
      display: block; }
    .page-header__logo--mobile {
      display: none; }
  .page-header__close {
    display: none; }
  .page-header__toggle {
    display: none; }
  .page-header__social {
    margin: 0;
    margin-top: 23px;
    width: 79px; }
  .page-header__favorites {
    position: static;
    margin-top: 31px;
    margin-right: 4px; }
  .page-header__title {
    display: block;
    margin: 0 auto;
    width: 600px;
    font-size: 60px;
    line-height: 67px; }
  .page-header__slogan {
    margin-top: 20px;
    font-size: 15px; }
  .page-header__link {
    width: 152px;
    height: 37px; } }

@media (min-width: 1920px) {
  .page-header {
    width: 1643px; }
  .page-header__inner {
    padding-top: 41px;
    padding-bottom: 269px; }
    .page-header__inner--button {
      padding-bottom: 39px;
      margin-top: 42px;
      width: 534px; }
  .page-header__main-nav {
    width: 1580px; }
  .page-header__logo {
    margin-top: -5px;
    margin-right: 20px;
    width: 162px; }
  .page-header__social {
    margin-top: 15px;
    width: 118px; }
  .page-header__favorites {
    margin-top: 25px;
    margin-right: 5px; }
  .page-header__title {
    display: block;
    width: 870px;
    margin-bottom: 0;
    font-size: 90px;
    line-height: 1.1em;
    letter-spacing: 6.3px; }
  .page-header__slogan {
    width: 550px;
    margin-top: 36px;
    font-size: 23px; }
  .page-header__link {
    flex: none;
    width: 227px;
    height: 55px; } }

.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }

.main-nav__link {
  display: block;
  width: 100%;
  padding-top: 28px;
  font-size: 16px;
  text-decoration: none;
  color: #707070; }

@media (min-width: 1280px) {
  .main-nav {
    justify-content: space-between;
    width: 933px; }
  .main-nav__link {
    width: auto;
    font-size: 12px;
    line-height: 15px; } }

@media (min-width: 1920px) {
  .main-nav {
    width: 1387px; }
  .main-nav__link {
    padding-top: 27px;
    font-size: 16px; } }

.social {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none; }
  .social--header .social__link {
    width: 30px;
    height: 30px; }
    .social--header .social__link--Instagram {
      background-image: url("../img/icon--Instagram-black.svg"); }
    .social--header .social__link--WhatsApp {
      background-image: url("../img/icon--WhatsApp-black.svg"); }
    .social--header .social__link--YouTube {
      background-image: url("../img/icon--YouTube-black.svg");
      background-size: 30px 30px; }
  .social--footer .social__link {
    width: 50px;
    height: 50px; }

.social__link {
  display: block;
  text-decoration: none;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 50%; }
  .social__link--Instagram {
    background-image: url("../img/icon--Inst.svg");
    background-repeat: no-repeat;
    background-position: center; }
  .social__link--WhatsApp {
    background-image: url("../img/icon--WhatsApp.svg");
    background-repeat: no-repeat;
    background-position: center; }
  .social__link--YouTube {
    background-image: url("../img/icon--YouTube.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px 40px; }
  .social__link--vk {
    background-image: url("../img/icon--vk.svg");
    background-repeat: no-repeat;
    background-position: center; }
  .social__link--Facebook {
    background-image: url("../img/icon--Facebook.svg");
    background-repeat: no-repeat;
    background-position: center; }
  .social__link--Telegram {
    background-image: url("../img/icon--telegram.svg");
    background-repeat: no-repeat;
    background-position: center; }

@media (min-width: 768px) {
  .social--header .social__link {
    width: 31px;
    height: 31px; } }

@media (min-width: 1280px) {
  .social--header .social__link {
    width: 25px;
    height: 25px; }
    .social--header .social__link--Instagram {
      background-size: 25px 25px; }
    .social--header .social__link--WhatsApp {
      background-size: 25px 25px; }
    .social--header .social__link--YouTube {
      background-size: 20px 20px; } }

@media (min-width: 1920px) {
  .social--header .social__link {
    width: 40px;
    height: 40px; }
    .social--header .social__link--Instagram {
      background-size: 40px 40px; }
    .social--header .social__link--WhatsApp {
      background-size: 40px 40px; }
    .social--header .social__link--YouTube {
      background-size: 29px 29px; } }

.favorites {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%; }
  @media (min-width: 320px) {
    .favorites {
      width: 25px;
      height: 25px; } }
  @media (min-width: 768px) {
    .favorites {
      width: 31px;
      height: 31px; } }
  @media (min-width: 1280px) {
    .favorites {
      width: 19px;
      height: 19px; } }
  @media (min-width: 1920px) {
    .favorites {
      width: 29px;
      height: 29px; } }
  .favorites--card {
    width: 35px;
    height: 35px; }
    .favorites--card .circle {
      fill: #ffffff;
      stroke: none; }

.button {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 0;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 40px;
  background: linear-gradient(104deg, #ffec46, #ff6000 36%, #ff475c 45%, #ff3c87 60%, #c10cb6);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  opacity: 83; }
  .button--invers {
    background: #6dd5b5; }
  .button--transparent {
    font-size: 15px;
    line-height: 1.133em;
    font-weight: 700;
    color: #4b4b4b;
    background: transparent;
    letter-spacing: 0.5px; }
  .button--white {
    font-size: 15px;
    line-height: 1.133em;
    font-weight: 700;
    color: #4b4b4b;
    letter-spacing: 0.5px;
    background: #ffffff; }
  .button--small {
    padding-top: 12px;
    font-size: 15px; }
  .button--bord {
    color: #707070;
    background: #ffffff;
    border: solid 1px #707070; }
  .button--pink {
    padding-top: 10px;
    font-size: 12px;
    color: #ff3c87;
    background: #ffffff;
    border: solid 1px #ff3c87; }
  .button--footer {
    padding-top: 13px;
    font-size: 13px;
    line-height: 1em; }
  .button--border-grey {
    color: #ffffff;
    border: solid 1px #707070; }

@media (min-width: 768px) {
  .button {
    padding: 15px; }
    .button--invers {
      background: linear-gradient(256deg, #ffec46, #ff6000 36%, #ff475c 45%, #ff3c87 60%, #c10cb6); } }

@media (min-width: 1280px) {
  .button {
    padding: 10px;
    font-size: 12px;
    line-height: 1em; } }

@media (min-width: 1920px) {
  .button {
    padding: 20px;
    font-size: 18px; } }

.info {
  width: 304px;
  min-height: 510px;
  margin: 0 auto;
  margin-top: 75px;
  padding-top: 48px;
  background-image: url("../img/ball.svg");
  background-repeat: no-repeat;
  background-size: 304px 510px; }

.info__wrap {
  position: relative;
  width: 247px;
  min-height: 410px;
  margin: 0 auto;
  padding-top: 19px;
  padding-bottom: 30px;
  color: #ffffff;
  background: linear-gradient(168deg, #f0e749 4%, #f08c2e 27%, #f28138 34%, #f76553 47%, #fe4672 59%, #d42980 72%, #b3128b 84%, #a00492 94%, #990095 101%);
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
  opacity: 85%; }
  .info__wrap::before {
    content: "";
    display: block;
    position: absolute;
    top: -106px;
    left: 29%;
    width: 105px;
    height: 10px;
    background-image: url("../img/bold-points.png");
    background-position: 0 0; }

.info__logo-image {
  display: block;
  width: 94px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 12px; }

.info__title {
  margin: 0;
  margin-bottom: 17px;
  font-family: "Dots", "Arial", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 1em;
  text-align: center; }

.info__subtitle {
  position: relative;
  margin: 0;
  margin-bottom: 11px;
  font-family: "Basic", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 1.4px; }

.info__content {
  display: block;
  width: 215px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
  text-align: center; }

.info__link {
  width: 205px;
  height: 40px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .info {
    width: 684px;
    min-height: 1153px;
    margin-top: 132px;
    padding-top: 195px;
    background-size: 684px 1153px; }
  .info__wrap {
    width: 484px;
    padding-top: 68px;
    padding-bottom: 81px; }
    .info__wrap::before {
      top: -277px;
      left: 39%;
      background-image: url("../img/points.png"); }
  .info__logo-image {
    width: 176px;
    height: 135px;
    margin-bottom: 16px; }
  .info__title {
    margin-bottom: 25px;
    font-size: 45px;
    line-height: 1; }
  .info__subtitle {
    margin-left: 76px;
    margin-bottom: 22px;
    font-size: 16px;
    line-height: 1;
    text-align: left;
    letter-spacing: 1.6px; }
  .info__content {
    margin: 0;
    margin-left: 76px;
    margin-bottom: 68px;
    width: 280px;
    font-size: 18px;
    line-height: 30px;
    text-align: left; }
  .info__link {
    height: 50px; } }

@media (min-width: 1280px) {
  .info {
    width: 1200px;
    min-height: 821px;
    margin-top: 63px;
    padding-top: 116px;
    background-size: 488px 821px;
    background-position: center; }
  .info__wrap {
    width: 1004px;
    min-height: 468px;
    padding-left: 472px;
    padding-top: 88px;
    padding-bottom: 110px; }
    .info__wrap::before {
      width: 77px;
      top: -167px;
      left: 46.1%;
      background-image: url("../img/bold-points.png");
      background-size: cover; }
  .info__logo-image {
    position: absolute;
    top: 124px;
    left: 127px;
    width: 309px;
    height: 226px; }
  .info__title {
    margin-bottom: 20px;
    margin-left: -8px;
    font-size: 48px;
    text-align: left; }
  .info__subtitle {
    margin-bottom: 46px;
    margin-left: 0;
    font-size: 17px;
    letter-spacing: 1.7px; }
  .info__content {
    position: relative;
    width: 406px;
    margin-left: 2px;
    margin-bottom: 19px;
    font-size: 16px;
    line-height: 22px; }
    .info__content::before {
      content: "";
      position: absolute;
      left: -1px;
      top: -15px;
      width: 250px;
      height: 20px;
      background-image: url("../img/points--white.svg");
      background-size: cover; }
  .info__link {
    margin: 0;
    width: 169px;
    height: 32px; } }

@media (min-width: 1920px) {
  .info {
    padding-top: 259px;
    padding-bottom: 400px;
    background-position: 50% 67%;
    background-size: 730px 1230px; }
  .info__wrap {
    position: relative;
    padding-top: 130px;
    padding-left: 643px;
    width: 1396px;
    min-height: 700px;
    background: linear-gradient(152deg, #f0e749 -3%, #f08c2e 22%, #f28138 35%, #f76553 47%, #fe4672 55%, #d42980 75%, #b3128b 85%, #a00492 95%, #990095 100%); }
  .info__logo-image {
    position: absolute;
    left: 140px;
    top: 179px; }
  .info__title {
    font-size: 72px;
    line-height: 1em; }
  .info__subtitle {
    margin-top: 11px;
    margin-left: 11px;
    padding-bottom: 67px;
    font-size: 26px;
    line-height: 2.654em;
    letter-spacing: 3px; }
    .info__subtitle::after {
      content: "";
      position: absolute;
      left: 3px;
      bottom: 23px;
      width: 150px;
      height: 20px;
      background-image: url("../img/points--white.svg"); }
  .info__content {
    margin-top: 0;
    margin-left: 16px;
    width: 600px; }
  .info__link {
    margin-top: 40px;
    margin-left: 15px;
    width: 252px;
    height: 48px; } }

.directions__title {
  position: relative;
  margin: 0 auto;
  margin-top: 79px;
  margin-bottom: 0;
  width: 1100px;
  font-family: "AA Haymaker", "Arial", sans-serif;
  color: #000000;
  font-size: 61px;
  line-height: 3em;
  text-transform: uppercase;
  text-align: center; }
  .directions__title::before {
    content: "";
    position: absolute;
    top: -51px;
    left: -17px;
    display: block;
    width: 200px;
    height: 200px;
    background-image: url("../img/berd3.svg"); }
  .directions__title::after {
    content: "";
    position: absolute;
    top: -39px;
    right: 5px;
    display: block;
    width: 200px;
    height: 171px;
    background-image: url("../img/berd4.svg"); }

.directions__link {
  margin: 0 auto;
  width: 328px;
  height: 55px; }
  .directions__link--courses {
    margin-top: 111px;
    margin-bottom: 136px; }

.directions__subtitle {
  position: relative;
  margin: 0;
  margin-top: 32px;
  margin-left: 122px;
  margin-bottom: -260px;
  font-family: "Dots", "Arial", sans-serif;
  font-size: 90px;
  line-height: 3em; }
  .directions__subtitle--decor::after {
    content: "";
    position: absolute;
    top: 50px;
    left: 698px;
    display: block;
    width: 3px;
    height: 160px;
    background: #e6e6e6; }

.direction__inner {
  margin: 0 auto;
  width: 1640px; }

.direction-card {
  position: relative;
  padding-top: 341px; }
  .direction-card--back {
    padding-top: 215px;
    background-color: #dedede; }
    .direction-card--back .direction-card__wrap {
      padding-left: 0; }
      .direction-card--back .direction-card__wrap::before {
        content: "";
        position: absolute;
        top: -163px;
        right: -73px; }
    .direction-card--back .direction-card__img {
      left: auto;
      right: 0; }
    .direction-card--back .direction-card__title {
      padding-top: 54px; }
    .direction-card--back .direction-card__content {
      width: 435px;
      margin-top: 22px;
      margin-bottom: 22px; }
    .direction-card--back .direction-card__link {
      margin-top: 33px; }
    .direction-card--back .direction-card__subimg {
      bottom: -117px;
      left: 278px; }
    .direction-card--back::before {
      content: "";
      position: absolute;
      top: -80px;
      left: 50.3%;
      display: block;
      width: 3px;
      height: 160px;
      background: #e6e6e6; }
    .direction-card--back::after {
      content: "";
      position: absolute;
      bottom: -80px;
      left: 50.3%;
      display: block;
      width: 3px;
      height: 160px;
      background: #e6e6e6; }

.direction-card__wrap {
  position: relative;
  margin: 0 auto;
  padding-left: 830px;
  width: 1367px;
  min-height: 593px; }
  .direction-card__wrap::before {
    content: "";
    position: absolute;
    top: -277px;
    right: -102px;
    z-index: 1;
    width: 350px;
    height: 350px;
    background-image: url("../img/points--grey.svg");
    background-repeat: то-repeat; }

.direction-card__img {
  display: block;
  position: absolute;
  top: 0;
  left: 0; }
  .direction-card__img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 50px;
    height: 377px;
    background-image: url("../img/border.png"); }
  .direction-card__img::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: block;
    width: 50px;
    height: 377px;
    background-image: url("../img/border.png"); }

.direction-card__subimg {
  position: absolute;
  bottom: -111px;
  left: 145px;
  display: block;
  width: 243px;
  height: 243px;
  border-radius: 50%;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16); }
  .direction-card__subimg--holidays {
    background-image: url("../img/holidays.svg"); }
  .direction-card__subimg--Festivals {
    background-image: url("../img/Festivals.svg");
    background-position: 0; }

.direction-card__title {
  position: relative;
  margin: 0;
  padding-top: 50px;
  font-family: "Basic", "Arial", sans-serif;
  font-size: 26px;
  line-height: 1em;
  color: #000000; }
  .direction-card__title::before {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    left: 1px;
    width: 117px;
    height: 17px;
    background-image: url("../img/points.svg");
    background-position: 0 0; }

.directions-card__subtitle {
  margin-top: 19px;
  margin-bottom: 0;
  color: #ff3c87; }

.direction-card__content {
  margin-top: 8px;
  margin-bottom: 35px; }

.direction-card__link {
  margin-top: 15px;
  width: 201px;
  height: 45px; }

.services__title {
  margin-top: 242px;
  margin-bottom: 0;
  font-family: "AA Haymaker", "Arial", sans-serif;
  color: #000000;
  font-size: 61px;
  line-height: 3em;
  text-transform: uppercase;
  text-align: center; }

.services__inner {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 100px;
  width: 1640px; }

.services__card {
  position: relative;
  width: 318px;
  padding-top: 187px;
  padding-bottom: 150px; }

.services__img {
  position: absolute;
  top: 23px;
  left: 63px; }

.services__subtitle {
  margin: 0;
  font-family: "Basic", "Arial", sans-serif;
  color: #000000;
  font-size: 26px;
  line-height: 1.346em;
  text-transform: uppercase; }

.services__content {
  margin-top: 13px;
  padding-left: 63px;
  font-size: 14px;
  line-height: 20px; }

.mentors__header {
  position: relative;
  margin: 0 auto;
  width: 1560px;
  min-height: 500px;
  padding-top: 167px; }

.mentors__title {
  position: relative;
  width: 500px;
  font-family: "AA Haymaker", "Arial", sans-serif;
  color: #000000;
  font-size: 61px;
  line-height: 1.333em;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 6px; }

.mentors__decor {
  position: absolute;
  top: -64px;
  right: 171px;
  opacity: 0.4; }

.mentors__back {
  display: block;
  width: 100%;
  height: 442px;
  margin-bottom: -320px; }

.mentors__inner {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 245px;
  width: 1560px; }

.mentors__card {
  width: 250px; }

.mentors__name {
  margin: 0;
  margin-top: 23px;
  font-size: 16px;
  color: #000000;
  text-align: center; }

.mentors__info {
  margin: 0;
  margin-top: 10px;
  padding: 0 10px;
  text-align: center;
  font-size: 12px;
  line-height: 1.25em; }

.mentors__link {
  margin: 0 auto;
  margin-top: 15px;
  width: 142px;
  height: 38px; }

.actors {
  padding-bottom: 174px; }

.actors__back {
  width: 100%;
  height: 400px;
  margin-bottom: 14px;
  padding-top: 78px;
  background-image: url("../img/pink-points.svg"); }

.actors__logo {
  display: block;
  margin: 0 auto; }

.actors__title {
  margin-top: 37px;
  font-family: "AA Haymaker", "Arial", sans-serif;
  color: #000000;
  font-size: 61px;
  line-height: 1.333em;
  text-transform: uppercase;
  letter-spacing: 6.1px;
  text-align: center; }

.actors__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1176px;
  margin-bottom: 36px; }

.actors__card {
  margin-bottom: 60px; }

.actors__link {
  margin: 0 auto;
  width: 328px;
  height: 55px; }

.actors-card {
  position: relative; }

.actors-card__inner {
  display: flex; }

.actors-card__title {
  margin: 0;
  margin-top: 13px;
  font-family: "Basic", "Arial", sans-serif;
  color: #000000;
  font-size: 14px;
  line-height: 2em;
  text-transform: uppercase; }

.actors-card__age {
  margin: 0;
  margin-top: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #000000; }

.actors-card__place {
  margin: 0;
  margin-top: 5px;
  margin-left: 26px;
  font-size: 12px;
  font-weight: 600;
  color: #000000; }

.actors-card__favorites {
  position: absolute;
  top: 361px;
  right: 18px; }

.review {
  min-height: 645px;
  background: linear-gradient(104deg, #ffec46, #ff6000 36%, #ff475c 45%, #ff3c87 60%, #c10cb6);
  opacity: 79%; }

.review__wrap {
  position: relative;
  margin: 0 auto;
  padding-left: 27px;
  width: 1200px;
  color: #ffffff; }

.review__title {
  margin: 0;
  margin-bottom: 48px;
  padding-top: 139px;
  font-family: "Basic", "Arial", sans-serif;
  font-size: 26px;
  line-height: 2em;
  text-transform: uppercase;
  letter-spacing: 2.6px; }

.review__inner {
  position: relative;
  margin-left: 167px;
  width: 940px; }

.review__quote {
  margin: 0;
  width: 690px;
  font-size: 16px;
  line-height: 30px; }

.review__card {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 130px;
  height: 200px; }

.review__avatar {
  border-radius: 50%; }

.review__author {
  font-size: 21px;
  font-weight: 600;
  line-height: 23px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2.1px; }

.review__control {
  position: absolute;
  top: 306px;
  width: 22px;
  height: 40px;
  margin: 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: none; }
  .review__control--before {
    left: -220px;
    background: url("../img/icon--left.svg") no-repeat 0 0; }
  .review__control--after {
    right: -220px;
    background: url("../img/icon--right.svg") no-repeat 0 0; }

.contacts {
  margin-top: 238px;
  margin-bottom: 168px;
  padding-bottom: 52px; }

.contacts__wrap {
  position: relative;
  width: 1200px;
  margin: 0 auto; }

.contacts__contacts {
  padding-top: 23px;
  padding-left: 721px;
  min-height: 437px;
  background: linear-gradient(104deg, #ffec46, #ff6000 36%, #ff475c 45%, #ff3c87 60%, #c10cb6);
  opacity: 70%; }

.contacts__title {
  margin-bottom: 58px;
  font-size: 49px;
  line-height: 34px;
  color: #ffffff; }

.contacts__item {
  position: relative;
  margin: 19px 0;
  padding-left: 67px;
  font-size: 12px;
  line-height: 34px;
  color: #ffffff; }
  .contacts__item--adress::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 33px;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../img/icon--point.svg");
    background-repeat: no-repeat;
    background-position: center; }
  .contacts__item--time::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 33px;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../img/icon--clock.svg");
    background-repeat: no-repeat;
    background-position: center; }
  .contacts__item--telephone::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 33px;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../img/icon--phone.svg");
    background-repeat: no-repeat;
    background-position: center; }
  .contacts__item--email::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 33px;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../img/icon--mail.svg");
    background-repeat: no-repeat;
    background-position: center; }

.contacts__review {
  position: absolute;
  top: -48px;
  left: 114px; }

.review-list {
  width: 552px;
  height: 537px;
  padding-top: 53px;
  padding-left: 97px;
  color: #898989;
  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.16); }

.review-list__title {
  margin: 0;
  width: 240px;
  font-size: 49px;
  font-weight: 600;
  line-height: 46px;
  color: #484848;
  opacity: 1; }

.review-list__content {
  margin-top: 14px;
  width: 260px;
  font-size: 12px;
  line-height: 15px; }

.page-footer {
  background-color: #2b2b2b;
  min-height: 320px;
  color: #ffffff; }

.page-footer__wrap {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 41px;
  width: 1050px; }

.page-footer__item {
  margin-right: 0;
  width: 360px; }
  .page-footer__item:nth-child(1) {
    padding-left: 48px;
    padding-top: 75px; }
  .page-footer__item:nth-child(2) {
    width: 343px; }
  .page-footer__item:nth-child(3) {
    padding-top: 45px;
    padding-left: 112px; }

.page-footer__link {
  width: 195px;
  height: 40px;
  margin-top: 16px; }

.page-footer__logo {
  margin-bottom: 43px; }

.page-footer__social {
  margin-bottom: 24px;
  width: 350px; }

.page-footer__copyright {
  margin: 0;
  margin-bottom: -5px;
  font-size: 9px;
  text-align: center; }

.page-footer__subtitle {
  margin: 0;
  margin-bottom: -4px;
  font-size: 14px;
  text-transform: uppercase; }
  .page-footer__subtitle--underlined {
    margin-bottom: 14px;
    text-decoration: underline; }

.page-footer__list {
  margin: 0;
  font-size: 14px; }

.map {
  display: block;
  margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
