.directions__title {
  margin-top: 79px;
  margin-bottom: 0;
  font-family: "AA Haymaker", "Arial", sans-serif;
  color: $blak;
  font-size: $font-size-sl;
  line-height: 3em;
  text-transform: uppercase;
  text-align: center;
}

.directions__link {
  margin: 0 auto;
  width: 328px;
  height: 55px;

  &--courses {
    margin-top: 111px;
    margin-bottom: 136px;
  }
}

.directions__subtitle {
  margin: 0;
  margin-top: 32px;
  margin-left: 122px;
  margin-bottom: -260px;
  font-family: "Dots", "Arial", sans-serif;
  font-size: $font-size-el;
  line-height: 3em;
}

.direction__inner {
  margin: 0 auto;
  width: 1640px;
}
