.page-header__wrap {
  width: 1660px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.page-header__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  &--button {
    margin: 0 auto;
    margin-top: 84px;
    width: 534px;
  }
}

.page-header__main-nav {
  width: 1390px;
}

.page-header__logo {
  margin-right: 18px;
}

.page-header__social {
  margin-left: 48px;
  padding-top: 22px;
}

.page-header__favorites {
  margin-top: 23px;
  margin-right: 19px;
}

.page-header__title {
  display: block;
  width: 870px;
  margin-left: 397px;
  margin-top: 250px;
  margin-bottom: 0;
  font-family: "AA Haymaker", "Arial", sans-serif;
  color: $blak;
  font-size: $font-size-el;
  line-height: 1.1em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 6px;
}

.page-header__slogan {
  margin-top: 36px;
  font-family: "Basic", "Arial", sans-serif;
  color: $blak;
  font-size: $font-size-xl;
  text-transform: uppercase;
  text-align: center;
}

.page-header__link {
  flex: none;
  width: 227px;
  height: 55px;
}
