.button {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 0;
  text-decoration: none;
  text-align: center;
  color: $white;
  font-size: $font-size-xs;
  font-weight: 600;
  border: none;
  border-radius: 40px;
  background: $main-color;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  opacity: 83;

  &--invers {
    background: $brend-color;
  }

  &--transparent {
    font-size: $font-size-xs;
    line-height: 1.133em;
    font-weight: 700;
    color: $dark-grey;
    background: transparent;
    letter-spacing: 0.5px;
  }

  &--white {
    font-size: $font-size-xs;
    line-height: 1.133em;
    font-weight: 700;
    color: $dark-grey;
    letter-spacing: 0.5px;
    background: $white;
  }


  &--small {
    padding-top: 12px;
    font-size: $font-size-xs;
  }

  &--bord {
    color: $main-grey;
    background: $white;
    border: solid 1px $main-grey;
  }

  &--pink {
    padding-top: 10px;
    font-size: $font-size-xxxs;
    color: $pink;
    background: $white;
    border: solid 1px $pink;
  }

  &--footer {
    padding-top: 13px;
    font-size: $font-size-xxls;
    line-height: 1em;
  }

  &--border-grey {
    color: $white;
    border: solid 1px $main-grey;
  }
}

@media (min-width: $tablet-width) {
  .button {
    padding: 15px;

    &--invers {
      background: $main-color-invers;
    }
  }
}

@media (min-width: $desktop-width) {
  .button {
    padding: 10px;
    font-size: $font-size-xxxs;
    line-height: 1em;
  }
}

@media (min-width: $lage-width) {
  .button {
    padding: 20px;
    font-size: $font-size;

    &--small {
      padding-top: 17px;
      font-size: $font-size-xs;
    }
  }
}
